.root {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .tab_wrapper {
    width: 550px;
  }
}

.form_wrap {
  display: block;
  background: #fff;

  padding: 24px 48px;
  border-radius: 15px;



  margin: 0 auto;
}
