@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cover {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    position: relative;
    text-align: center;

    background-size: cover;
    background: #61dafb no-repeat fixed center center;
    background-image: url("./img/background.jpeg");

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to top,
                                            rgba(26,40,120,0.70),
                                            rgba(10,143,196,0.70));

    }

    .wrap {
        position: relative;
        z-index: 1;
        font-family: 'Roboto', sans-serif;
    }

    .header {
        font-size: 65px;
        letter-spacing: 1px;
        color: #fdffff;
    }

    .descr {
        color: #fdffff;
        font-weight: 500;
    }

    svg {
        max-height: 50px;
        max-width: 50px;
    }
}
