.root{
  margin-bottom: 15px;
}

.card {
  font-size: 14px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  perspective: 1000px;
  height: 150px;
  width: 150px;


  &:hover,
  &.done {
    .cardInner {
      transform: rotateX(180deg);
    }
  }
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;

}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.isRemembered {
  .cardFront,
  .cardBack {
    text-decoration: line-through;
  }
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #1BB95E;
  color: white;
  transform: rotateX(180deg);
}

.icons {
  display: flex;
  justify-content: space-evenly;

  font-size: 28px;
  cursor: pointer;

  .goodBtn {
    &:hover {
      color: #1BB95E;
    }
  }

  .badBtn {
    &:hover {
      color: #ff3f4b;
    }
  }
}
