.footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  color: #9e9e9e;
  background-image: linear-gradient(to bottom, rgb(48, 94, 159), rgba(26, 40, 120, 0.7));

span {
    margin: 0 5px;
    color: #b2b2b2;
  }
}
